@model IEnumerable<POC.MVC.Models.ProductModel>

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/stylesheet.css" rel="stylesheet" />
</head>
<body>

    <div class="grid-container">
        @foreach (var product in Model)
        {
            <div class="grid-item">
                <img src="data:image;base64,@Convert.ToBase64String(product.ProductImage)" alt="@product.Name">
                <div class="container">
                    <h4>@product.Name</h4>
                    <p><strong>Price:</strong> @product.Price.ToString("C")</p>
                    <button type="button" class="btn">
                        @Html.ActionLink("Order Now", "GetProductDetail", "ProductControllerMVC", new { id = product.ProductId }, null)
                    </button>
                </div>
            </div>
        }
    </div>
    <div>
        <button type="button" class="btn-outline-primary" href=" ">
            @Html.ActionLink("Product", "GetProductList", "ProductControllerMVC")
        </button>
    </div>
</body>
</html>
